[data-fill="background"] {
    fill: var(--iaindavisdev-logo-background);
}

[data-fill="text-main"] {
    fill: var(--iaindavisdev-logo-text-main);
}

[data-fill="text-accent"]{
    fill: var(--iaindavisdev-logo-text-accent);
}

[data-fill="border"]{
    fill: var(--iaindavisdev-logo-border);
}